Importing Libraries

In [ ]:
import pandas as pd
import time
import requests,json,csv,os
import numpy as np

In [ ]:
import pandas
df=pd.DataFrame(columns=['index','movie_id','movie_name'])

In [ ]:
API_key='55837420c664ac695063a44342aa40b1'

In [ ]:
#Creating a list of years ranging from 2000 to 2022
# Also converting int(years) to str(years)
year=[str(i) for i in list(range(2000,2022))]

In [ ]:
for y in year:
  discover_api_url='https://api.themoviedb.org/3/discover/movie?api_key='+API_key+'&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&primary_release_year={}'.format(y)
  #discover_api= requests.get(discover_api_url).json()
  most_popular_films =[]
  for page in range(1,11):
    discover_api = requests.get(discover_api_url + f"&page={page}").json()
    most_popular_films.extend(discover_api["results"])

  #printing movie_id and movie_title by popularity desc
  for i, film in enumerate(most_popular_films):
    df=df.append({'index':i,'movie_id':film['id'],'movie_name':film['title']},ignore_index=True)

In [ ]:
df.head(10)

  index movie_id                      movie_name
0     0     4247                     Scary Movie
1     1    11688        The Emperor's New Groove
2     2    10567                        Dinosaur
3     3     8871  How the Grinch Stole Christmas
4     4    16366          Joseph: King of Dreams
5     5     9532               Final Destination
6     6       98                       Gladiator
7     7     1359                 American Psycho
8     8     4234                        Scream 3
9     9     7443                     Chicken Run

In [ ]:
len(df)

4400

In [ ]:
df.isnull().sum()

index         0
movie_id      0
movie_name    0
dtype: int64

In [ ]:
#converting dataframe to csv file
df.to_csv('Movie_list.csv')

In [ ]:
#downloading the csv file
from google.colab import files
files.download('Movie_list.csv')